@import url('https://fonts.googleapis.com/css?family=Heebo:400,500,700');

body{
  font-size: 13px;
  background: #F5F5F9;
  font-family: 'Heebo' !important;
  overflow-x: hidden;
  color: #4a4b62;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-family: 'Heebo' !important;
  font-weight: 500;
  color: #33344E;
}
header{
  background: #fff;
  margin-bottom: 30px;
}
a{
  color: #c1355e;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}
a:hover{
  color: #c1355e;
}

.small-b{
  width: auto;
  height: 180px;
  position: relative;
  overflow: hidden;
}
.small-sc{
  width: auto;
  height: 255px;
  position: relative;
  overflow: hidden;
}

.pbNA{
  padding-bottom: 20px;
}
.text-pink {
  color: #b73259;
}
#top-section{
  padding-top:25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
}
ul{
  padding-left: 0px;
}
.logo{
  margin-top: -5px;
}
.form-control{
  font-size: 13px;
}
.form-error{
  color:rgb(185, 74, 72);
  font-style: italic;
  font-weight: 500;
}
.search-top select{
  background: #f9f9f9 url("../svg/chevron-down.svg") no-repeat center right 10px;
  width: 75px;
  height: 38px;
  font-size: 12px;
  border: 0px;
  outline: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 20%;
  float: left;
  box-shadow:none;
}
.custom-select{
  background: #f9f9f9 url("../svg/chevron-down.svg") no-repeat center right 10px;
  font-size: 12px;
}
.search-top #search{
  width: 80%;
  float: left;
  border-radius: 0px;
  background: #f9f9f9;
  border:none;
  height: 38px;
  border: 1px solid #f9f9f9;
  /*border-left: 1px solid #d9dae7;*/

}
.search-top #b-search{
  float: left;
  width: 20%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background: #c1355e;
  color: #fff;
  border:none;
  height: 38px;
  font-size: 14px;
}
.form-control:focus{
  box-shadow:none;
  border:1px solid #c1355e!important;
}
.list-cart ul{
  margin-top: -13px;
  width: 100%;
  height: auto;
  padding-left: 0px;
}
.list-cart li{
  list-style: none;
  float: left;
  padding: 5px;
  width: 60px;
  text-align: center;
}
.list-cart li i{
  color: #33344e;
}
.list-cart span{
  position: absolute;
  top:-5px;
  margin-left:-5px;
  background: #c1355e;
  color: #fff;
  border-radius: 50px;
  font-size: 8px;
  padding: 3px 5px;
}
.btn-login{
  border: 1px solid #c1355e;
  background: #fff;
  color: #c1355e;
  padding-top: 5px;
  font-size: 12px;
  margin-right: 10px;
}

.btn-daftar{
  border: 1px solid #33344E;
  background: #000000;
  color: #fff;
  padding-top: 5px;
  font-size: 12px;
}

.navbar .nav > li > .dropdown-menu::before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.navbar .navbar-nav > li > .dropdown-menu::after {
  position: absolute;
  top: -8px;
  left: 10px;
  display: inline-block;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #d4d4d4;
  border-left: 8px solid transparent;
  content: '';
}
#department-menu ul li a{
  float: left;
}
.link-department{
  color: #33344E;
}
.link-department i{
  font-size:20px;
  font-weight: normal;
  margin-right: 5px;
}
.text-department{
  font-size:13px;
  font-weight: 700;
  margin-top: 7px;
  color: #33344E;
}
.link-department:hover{
  color: #33344E;
}
.navbar{
  padding: 0px;
}
.navbar-nav li{
  margin-right: 20px;
}
.nav-item .nav-link{
  font-size: 13px;
  color: #33344E;
  font-weight: 500;
}
#bar-department{
  margin-right: 0px;
}
.dropdown-menu{
  background: #fff;
}
.dropdown-body{
  font-size: 14px;
  padding: 10px 10px 0px 10px;
  color: darkgray;
}
.dropdown-heading{
  font-size: 12px;
  padding-left: 10px;
  color: darkgray;
  /*border-bottom: 1px solid #dedbdb;*/
}
.dropdown-item{
  font-size: 13px;
  padding-left: 10px;
}
.dropdown-item-s{
  color: #c1355e;
  font-weight: 500;
  padding-left: 10px;
}
.navbar-right li{
  float: right;
  margin-right: 0px;
  margin-left: 15px;
  padding-right: 5px;
  border-right:1px solid #d9dae7;
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar-right li a{
  padding-top: 2px;
  padding-bottom: 2px;
}
.navbar-right .lang{
  border-right: 0px;
}
#navbar-right a{
  color: #33344E;
}
.text-black{
  color: #33344E!important;
}
.become-seller{
  color: #c1355e!important;
}
.back-slider{
  height: 395px;
  margin-bottom: 25px;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
  background-position:top center;
  background-size: cover;
}
.carousel .title-cat{
  color: #c1355e;
  font-weight: bold;
}
.carousel h2{
  margin-top: 10px;
  text-transform: uppercase;
}
.carousel h3{
  color: #c1355e;
  text-transform: uppercase;
}
.btn-shop{
  background: #c1355e;
  color: #fff;
  /* margin-top: 10px; */
  font-size: 12px;
}
.btn-white {
  background: #fff;
  color: #c1355e;
  border:1px solid #c1355e;
  /* margin-top: 10px; */
  font-size: 12px;
}
.btn-contact {
  background: #c1355e;
  color: #fff;
  margin-top: 10px;
  padding: 8px;
  font-size: 14px;
}
.control-slide{
  background: #d1d1d1;
  color: #000;
  padding: 0px 15px;
  font-size: 35px;
}
.feat-product{
  width: 100%;
  margin-bottom: 25px;
  height: 185px;
  background-size: cover;
  padding-top: 20px;
  padding-left: 20px;
}
.feat-product h4{
  text-transform: uppercase;

}
.feat-product p{
  color: #90919e;
  margin-top: 10px;

}
.circle-litle-disc{
  width:25px;
  height:25px;
  border-radius:50px;
  background:#f1bf1a;
  position:absolute;
  margin-left:50px;

}
.circle-big-disc{
  width:75px;
  height:75px;
  border-radius:50px;
  background:#b75432;
  z-index:99;
  position:relative;
  text-align: center;
  padding-top: 10px;
}

.circle-big-disc span{
  font-size: 25px;
  color: #fff;
  font-weight: bold;
}
.circle-big-disc p{
  font-size: 12px;
  text-transform: uppercase;
  color: #FFF;
  margin-top: -5px;
}
#information{
  margin-bottom: 60px;
}
#information ul li{
  list-style: none;
  width: 19%;
  border-right: 1px solid #d9dae7;
  float: left;
  padding-right: 3%;
  margin-right: 3%;
}
#information ul .last{
  border-right:0px;
  float:right;
  margin-right:0px;
  padding-right:0px;
  width:auto
}
#information td{
  vertical-align: middle;
}
#information i{
  font-size: 25px;
  margin-right: 15px;
}
#information span{
  font-size: 13px;
  font-weight: 500;
  color: #33344e;
}
#information p{
  margin-bottom: 0px;
  color: #767789;
  font-size: 12px;
}
.head-title{
  border-bottom: 1px solid #d9dae7;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
.head-title h5{
  font-weight: 500;
  color: #33344E;
}
.btn-sale{
  position: absolute;
  left: 300px;
  margin-top:-32px;
  cursor: default;
  background: #c1355e;
  color: #fff;
  font-size: 12px;
  padding: 3px 10px;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    margin-bottom:  10px;
}
.hovereffect .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
  	top: auto;
  	bottom: 0;
  	/*height: 50px;*/
  	background: #fff;
    z-index: 999;
  	color: #3c4a50;
  	-webkit-transition: -webkit-transform 0.35s;
  	transition: transform 0.35s;
  	-webkit-transform: translate3d(0,100%,0);
  	transform: translate3d(0,100%,0);
  	visibility: hidden;
}

.hovereffect .overlay span:hover {
  color: #c1355e;
}

.hovereffect img {
    display: block;
    position: relative;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.hovereffect:hover img {
-webkit-transform: translate3d(0,-10%,0);
	transform: translate3d(0,-10%,0);
}
.hovereffect p.icon-links a {
	float: left;
  width: 100%;
	color: #3c4a50;
	font-size: 1.4em;
  background: #fff;
  border-left: 0.5px solid #eee;
  border-right: 0.5px solid #eee;
}

.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
	color: #252d31;
}

.hovereffect h2,
.hovereffect p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
	visibility: visible;
}
.hovereffect p.icon-links a span:before {
	display: inline-block;
	padding: 15px 10px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.hovereffect:hover .overlay,
.hovereffect:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.hovereffect:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}
.hovereffect:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.hovereffect:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}
.hovereffect:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
#deals-section{
  margin-bottom: 60px;
}

.disc-tem{
  text-align:center;
  font-size:11px;
  padding-top:4px;
  color:#fff;
  width:25px;
  height:25px;
  border-radius:20px;
  background:#c1355e;
  z-index:999;
  position:absolute;
  right:20px;
  margin-top:10px
}
.disc-price{
  text-decoration: line-through;
  color:#767789;
  margin-right: 3px;
}
.true-price{
  font-weight: 700;
  color: #33344e;
}
.det-prod span{
  padding-top: 10px;
}
.det-prod a{
  color: #c1355e;
  margin-top: 3px;
  margin-bottom: 3px;
  font-weight: 500;
  
}
.det-prod p{
  font-size: 10px;
  color:#767789;
  margin-bottom: 3px;
}
.det-prod-2{
  background: #fff;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  margin-top: 30px;
}
.star i{
  color: #f3a926;
  font-size: 12px
}
.star .null,
.side-rating .null {
    color:#e1e1e7;
}
#a-thousand{
  margin-bottom: 60px;
}
#uno{
  margin-bottom: 40px;
}
#new-arival{
  margin-top: 60px;
}
.title-categories{
  background: #fff;
  color: #c1355e;
  text-align: center;
  font-size: 13px;
  padding: 10px;
}
.head-background{
  background: #eeeeee;
  padding: 10px;
  padding-bottom: 8px;
  padding-top: 15px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 3px;
}
.head-background h5{
  color: #33344E;
}
.view-all{
  position: relative;
  float: right;
  margin-right: 10px;
  margin-top: -25px;
}
#makanan-section{
  margin-top: 60px;
}
footer{
  background: #fff;
  padding: 20px;
  margin-top: 60px;
  padding-top: 40px;
  color: #33344E;
}
footer p{
  color: #767789;
}
#address-footer li{
  list-style: none;
  margin-bottom: 5px;
}
#address-footer i{
  margin-right: 5px;
}
.copyright{
  margin-top: 30px;
  font-size: 11px;

}
.link-footer ul{
  margin-left: 20px;
  margin-top: 20px;
}
.link-footer li{
  margin-bottom: 5px;
  padding-left: 5px;
}
.link-footer li a{
  color: #333;
}
.subscribe-group i{
  position: absolute;
  left: 30px;
  margin-top: 10px;
  font-size: 15px;
  color: #b73259;

}
.subscribe-group button{
  float: left;
  width: 20%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background: #c1355e;
  color: #fff;
  border: none;
  height: 38px;
  font-size: 14px;
}
.subscribe{
  width:70%;
  border-left:0px;
  border-top-left-radius:5px;
  border-bottom-left-radius:5px;
  background:#fff;
  border: 1px solid #dedede;
  float: left;
  height: 38px;
  padding-left: 35px;
}
.bank{
  margin-top:25px;
  width: 250px;
}
#slide .carousel-control-prev {
  left: -6%;
}
#slide .carousel-control-next {
  right: -6%;
}
.carousel-control-prev{
  left: -12%;
}
.carousel-control-next {
  right: -12%;
}
#menu-section{
  border-bottom: 1px solid #e5e5e5;
}
.breadcrumb{
  background: #fff;
  padding-bottom: 7px;
  padding-top: 7px;
  font-size: 11px;
  color: #abacbd;
  padding-left: 7px;
}
.breadcrumb i{
  font-size: 14px;
}
.arrow-bread{
  font-size: 10px!important;
  margin-left: 8px;
  margin-right: 8px;
  top: 2px!important;
  position: relative;
  color: #000;
}
.prev-product .thumbnails img {
  margin-bottom: 5px;
}
.prev-product li{
  list-style: none;
}
.left-prev-product{
  float: left;
  width: 15%;
}
.right-prev-product {
  float: left;
  width: 85%;
}
.card{
  border:0px solid #fff;
  padding: 25px;
}
.sub-title{
  border-bottom: 1px solid #f1f1f3;
  margin-top: 20px;
  margin-bottom: 15px;
}
.sub-title ul{
  height: 10px;
  padding-bottom: 10px;
}
.sub-title ul:after {
  content: '';
  padding-bottom: 10px;
  display: block;
  clear: both;
}
.sub-title li{
  float: left;
  list-style: none;
  margin-right: 15px;
  padding-bottom: 0px;
  font-size: 12px;
}
.sub-title span{
  color: #9e9fab;
}
.count-start{
  font-style: normal;
  color: #9e9fab!important;
}
#price-product .disc-price{
  margin-right: 10px;
}
#price-product .true-price {
  font-size: 20px!important;
  color: #c1355e;
}
#description-prev{
  font-size: 11px;
  color: #9e9fab;
  margin-top: 10px;
  border-bottom: 1px solid #f1f1f3;
  margin-bottom: 10px;
}
#description-prev li{
  margin-left: 0px;
  list-style: none;
}
#description-prev li:before {
  content:"·";
  margin-right: 10px;
  font-size:30px;
  vertical-align:middle;
  line-height:20px;
}
#description-prev li:{
  clear: both;
}
#colour-prev{
  margin-bottom: 20px;
}
.colour-pict{
  width: 25px;
  height: 25px;
  border-radius:30px;
  float: left;
  margin-left: 15px;
  margin-bottom: 15px;

}
.colour-pict:hover {
  border: 3px solid #cccccc;
}
#keranjang select{
  height: 40px;
  font-size: 15px;
  font-weight: bold
}
.btn-add{
  padding: 10px;
  color: #fff;
  background: #b73259;
  font-size: 13px;
  margin-left: 10px;
}
.profile-pic{
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.title-profile{
  font-weight: 500;
  font-size: 15px;
}
#head-prof{
  margin-bottom: 10px;
  width: 100%;
}
.desc-toko{
  margin-bottom: 2px;
}
.desc-toko{
  font-weight: 500;
  color: #33344E;
  font-size: 14px;
  margin-bottom:15px;
}
.card .star i{
  font-size: 11px;
}
.profile-toko span{
  margin-top: 10px;
  color: #8e8f9e;
  font-size: 12px;
  font-weight: normal
}
#sec-desc{
  margin-top: 20px;
}
#sec-desc h5{
  color:#b73259;
}
#sec-desc .head-background{
  margin-bottom: 0px;
}
.contain-desc{
  font-size: 12px;
  padding: 10px;
  background: #fff;
  
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:hover {
  background: none;
  border: none;
  border: 0px;
}
.nav-tabs .nav-link{
  padding: 0px;
  
}
.nav-tabs{
  border-bottom: 0px;
}
.nav-tabs li{
  margin-right: 20px;
}
.nav-tabs .nav-link h6{
  color: #a7a7b1!important;
}
.text-grey{
  color: #a7a7b1 !important;
}
.nav-tabs .active h6 {
  color: #b73259 !important;
}
#body-row {
  margin-left: 0;
  margin-right: 0;
}
#sidebar-container {
  padding: 0;
}
.sidebar-expanded {
  width: 230px;
}
.sidebar-collapsed {
  width: 60px;
}
#sidebar-container .list-group a {
  color:#34354f;
  font-weight: 500;
  margin-bottom: 10px;
}
#sidebar-container .list-group a:hover{
  background: none;
  color: #b73259;
}
#sidebar-container .list-group .sidebar-submenu a {
  padding-left: 5px;
  margin-bottom: 7px;
  color: #7e7f8f;
  font-weight: 400;
}
.list-group-item-action:focus,
.list-group-item-action:hover{
  background: none;
  color: #b73259!important;
}
.sidebar-submenu {
  padding: 10px;
  padding-top: 5px;
}
.sidebar-separator-title {
  background-color: #333;
  height: 35px;
}
.sidebar-separator {
  height: 25px;
}

#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f105";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f107";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
.list-group-item{
  padding:0px;
  border: 0px;
}
#sidebar-container h5{
  margin-bottom: 15px;
  margin-top: 10px; 
}

#sidebar-container h6{
  margin-bottom: 15px;
  margin-top: 10px;
}
.box-side{
  padding-bottom: 20px;
  border-bottom: 1px solid #ededef;
  margin-bottom: 20px;
}
.box-side .form-check{
  margin-bottom: 5px;
}
.form-check-input{
  background: #fafafa;
}
.checkbox-custom,
.radio-custom {
  opacity: 0;
  position: absolute;
}

.checkbox-custom+.checkbox-custom-label:before,
.radio-custom+.radio-custom-label:before {
  content: '';
  background: #fafafa;
  border: 1px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  padding: 3px;
  margin-right: 10px;
  text-align: center;
}

.checkbox-custom:checked+.checkbox-custom-label:before {
  background: #b73259;
  box-shadow: inset 0px 0px 0px 2px #fff;
}
.checkbox-custom-label span{
  color: #a7a7b1;
}
.input-group-text{
  background: #fff;
  border: 0px;
  position: absolute;
  z-index: 5;
  margin-top: 5px;
  color: #b73259;
  font-size: 13px;
}
.text-custom{
  padding-left: 37px;
  border-radius: 3px!important;
  padding-top: 8px;
  padding-bottom: 8px;
}
.brand-box{
  height: 250px;
  overflow-y: auto;
}
.side-rating i{
  color: #f3a926;
}
.size{
  text-transform: uppercase;
  background: #fafafa;
  border: 1px solid #dfdddd;
  padding: 5px;
  width: 50px;
  text-align: center;
  float: left;
  font-weight: 500;
  font-size: 13px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;
}
#sec-head-category{
  margin-top: 70px;
  margin-bottom: 30px;
}
.s-barang-head{
  margin-top:-38px;
}
.price-box li{
  list-style: none;
  margin-bottom: 8px;
}
.price-box li a{
  color: #616276;
  font-weight: 500;
}
.price-box li a:hover{
  color: #b73259;
}
#product-body{
  margin-top: 100px;
}
.sort-order{
  margin-top: -30px;
}
.sort-order li{
  width: auto;
  list-style: none;
  float: left;
}
.sort-order select{
  width: 120px;
  margin-top: -5px;
}
.sort-ac{
  float: left;
  margin-right: 10px;
}
.sort-order i{
  font-size: 20px;
}
#sec-pagination{
  margin-top: 50px;
}
#sec-pagination ul{
  position: relative;
  margin: 0 auto;
  left: 15%;
  right: 0px;
}
#sec-pagination li{
  list-style: none;
  float: left;
  margin-right: 10px;
  background: #fff;
  padding: 10px 12px;
  font-size: 13px;
  font-weight: 500;
}
.card-2{
  border-top-right-radius:0px;
  border-top-left-radius:0px;
}
.card-2 .fa-star{
  font-size: 15px!important;
  margin-top: 7px;
}
.centerin{
  float: none;
  margin: 0 auto;
  position: relative;
  right: 0px;
  left: 0px;
}
.table{
   border-top-right-radius: 3px;
   border-top-left-radius: 3px;
}
.table thead{
  background: #eeeeee!important;
  color: #34354f;
  font-weight: 500;
  border: 1px solid #e3e3e8;
  border-bottom: 0px;
}
.table td{
  border-bottom: 2px solid #e3e3e8;
  vertical-align: middle;
  background: #fff;
}
.table .title-product{
  font-weight: 500;
}
.table img{
  margin-right: 10px;
}
.delete{
  color: #b73259;
  font-size: 15px;
}
.back{
  background: #fff;
  padding: 10px;
  font-weight: 500;
}
.table tfoot td{
  background: #eeeeee;
  font-size: 20px;
  font-weight: 500;
  border-bottom: 0px;
}
.voucher-box{
  border: 2px solid #eaeaea;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  color: #a7a7b1;
  padding: 10px;
}
.bill td{
  padding-bottom: 10px;
}
.list-cart li i:hover {
  color: #c1355e !important;
}
.tab-login{
  width: 300px;
  position: relative;
  margin: 0 auto;
}
.tab-login li{
  width: auto;
  margin: 0px;
  text-align:center;
  padding: 0px 30px;
}
.tab-login .active h3,
.tab-login h3:hover{
   color: #c1355e !important;
}
.page-item.active .page-link{
  color: #fff !important;
  background: #c1355e;
  border: 0px;
}
.page-link:hover{
  color: #c1355e !important;
}
.page-link {
  color: #c1355e !important;
}
.tab-login li h3{
  margin-bottom: 0px;
}
.border-tab{
  border-right: 1px solid #dcdcdf!important;
  
}
#content-tab-login{
  margin-top: 50px;
}
#form-login .btn-login {
  padding: 10px 20px;
  color: #fff;
  border: 0px;
  width: 100%;
  background: #b73259;
}
#form-register .btn-login {
  padding: 10px 20px;
  color: #fff;
  border: 0px;
  width: 100%;
  background: #b73259;
}
.required{
  color: #b73259;
}
#form-register .btn-google {
  background: #dd4b39;
}
#form-register .btn-fb {
  background: #3b5998;
}
#form-register .btn-login i {
  margin-right: 10px;
}
#form-login .btn-google {
  background: #dd4b39;
}
#form-login .btn-fb {
  background: #3b5998;
}
#form-login .btn-login i {
  margin-right: 10px;
}
.form-control{
  height: 38px;
}
.or{
  font-size: 20px;
  color: #7c7d8e;
}
#form-register label{
  font-size: 15px;
  color: #33344E;
  font-weight: 500;
}
#form-login label{
  font-size: 15px;
  color: #33344E;
  font-weight: 500;
}
.border-right{
  border-right: 1px solid #e1e1e7;
  padding-right: 15px;
  margin-right: 15px;

}
.top-info-vendor li{
  float:right;
  text-align: right;
  list-style: none;
  padding-top: 5px;
}
.top-info-vendor h5{
  margin-bottom: 0px;
}
.nav-tabs .nav-link{
  border: 0px;
}
.input-group-text-date{
  margin-top: 1px;
  background: #ebebeb;
  color: #404159;
  font-weight: bold;
  border-radius: 0px;
  width: 50px;
}
.input-group-text-detail{
  margin-top: 0px;
  background: #ebebeb;
  color: #404159;
  font-weight: bold;
  border-radius: 0px;
  width: 40px;
  height: 38px;
}
.date{
  padding-left: 60px;
}
.datepicker td,
.datepicker th{
  font-size: 12px
}
.menu-vendor-setting i{
  right: 30px;
  position: absolute;
}
.menu-vendor-setting li{
  list-style: none;
  color: #404159;
  margin-bottom: 8px;
}
.menu-vendor-setting a{
  color: #404159;
  font-weight: 500
}

#targetOuter {
  position: relative;
  text-align: center;
  background-color: #fafafa;
  margin: 20px auto;
  width: 100%;
  height: 150px;
  border-radius: 4px;
  border:1px dashed #dedfe2;
  vertical-align: middle
}
#targetOuter i{
  margin-top: 70px;
  font-size: 20px;
}
.inputFile {
  padding: 5px 0px;
  margin-top: 8px;
  background-color: #FFFFFF;
  width: 48px;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
}

.icon-choose-image {
  position: absolute;
  opacity: 0.1;
  top: 50%;
  left: 50%;
  margin-top: -24px;
  margin-left: -24px;
  width: 48px;
  height: 48px;
}

.upload-preview {
  border-radius: 4px;
}

#body-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}

#body-overlay div {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -32px;
  margin-left: -32px;
}
.title-vendor-data{
  font-size: 15px;
  font-weight: 500;
}
#order-card table td{
  padding-bottom: 10px;
}
.ceramah-detail{
  font-size: 11px;
  margin-top: 80px;
  color: #9e9fab;
}
.profile-dropdown{
  width:30px; 
  height:30px; 
  margin-top:5px;
  border-radius:50%;
  cursor: pointer; 
  margin-right:3px;
}
.box-option{
  border:1px solid #dcdcdf; 
  border-radius: 3px; 
  padding:15px 10px;
  cursor: pointer;
  margin: 20px;
}
.box-option:hover{
  background: #fff5f7;
  border-color: #d10051;
}
.box-option img{
  margin-right: 20px;
}
.box-option td{
  vertical-align: middle; 
}
.box-option .checkbox-custom{
  margin-top: 10px!important;
}
.column{
  display: inline-block;
  position: relative;
  width: 33%;
}
.cprep{
  background: none;
}
.head-prep,hp{
  padding: 25px;
}
.head-prep h4{
  margin-top: 10px;
}
.body-prep{
  padding-left:  25px;
  font-size: 14px;
}
.section-prep{
  padding-bottom: 25px;
  border-left: 1px solid rgba(51,52,78,0.10);
}


@media only screen and (max-width: 992px) {
  .dsax{
    width: 100%!important;
  }
  #information ul li{
    width: 33%;
    margin-right: 0px;
    padding-left: 10px;
    margin-top: 10px;
  }
  #information ul .last{
    float: left;
    padding-left: 10px;
  }
  .pbNA .img-responsive{
    width: 50%;
  }
  .pbNA{
    text-align: center;
  }
  .carousel-inner{
    text-align: center;
  }
  .list-cart{
    margin-top: 30px;
    position: absolute
  }
  .li-btn-lgo{
    margin-top: 20px;
  }
}